[Unit]
Description=Sync abf-downloads with mirror.yandex.ru
ConditionPathExists=/home/abf-downloads
ConditionPathIsReadWrite=/root/mirrors

[Service]
Type=simple
WorkingDirectory=/root/mirrors
ExecStart=/root/mirrors/rsync_yandex.sh
User=root
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
